# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/

# Build files
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/

# macOS
macos/Flutter/ephemeral/

# IDE
.vscode/
.idea/

# Logs
*.log

# Misc
.DS_Store